$blue: #87D0DF;
$gray: #9F9F9F;
$black: #152224;
$light-gray: #EEEEEE;
$spacing: 8px;

$tablet-width: 700px;
$desktop-width: 1200px;

@mixin robo-font-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
@mixin robo-font-med {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html {
  background: $blue;
  color: $black;
  font-size: 18px;
  font-family: Georgia, serif
}

body {
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

h1 {
  margin: 0;
  @include robo-font-light;
  font-size: 150px;
  color: $black;
  @include print {
    font-size: 40px;
  }
}

h2 {
  @include robo-font-light;
  color: $blue;
  font-size: 100px;
  margin: 0;
  @include print {
    font-size: 40px;
  }
}

h3 {
  @include robo-font-med;
  color: $blue;
  font-size: 22px;
  letter-spacing: 1px;
}

h4 {
  @include robo-font-med;
  color: $black;
  margin: 0;
  font-size: 20px;
}

.me {
  position: fixed;
  top:0;
  right:0;

  @include print {
    display: none;
  }
}

#resume {
  background: #FFFFFC;
  max-width: 800px;
  margin: $spacing*37 auto 95vh;
  box-shadow: -50px 75px 100px 0 rgba(0, 0, 0, 0.29);
  position: relative;
  z-index: 2;
  padding: $spacing * 3;

  @include print {
    box-shadow: none;
  }

  @include desktop {
    margin: $spacing*12 auto;
  }

  @include print {
    margin: 0;
    max-width: none;
  }
}

header {
  display: flex;
  width: 100%;
  margin-bottom: $spacing * 6;

  @include print {
    margin-bottom: -$spacing*3;
  }
}

.name {
  flex: 2;

  h1 {
    margin-bottom: -45px;

    @include print {
      margin-bottom: 0;
      display: inline-block;
    }
  }

  h2 {
    letter-spacing: 37px;
    margin-left: 5px;

    @include print {
      letter-spacing: 0;
      display: inline-block;
      margin-left: -6px;
    }
  }
}

.info {
  flex: 1;
  text-align: right;
  color: $gray;
  font-size: 20px;
  @include robo-font-light;
}

section {
  border-left: 2px solid $light-gray;
  padding: 0 $spacing*2;
  margin-bottom: $spacing * 7;
  margin-left: $spacing * 2;
  margin-top: $spacing * 11;

  @include print {
    margin-top: $spacing * 5;
    font-size: 14px;
  }

  h3 {
    margin-left: -21px;
    margin-top: $spacing * -5;
    position: absolute;
  }
}

.icon {
  @include print {
    display: none;
  }

  svg {
    border-radius: 4px;
    fill : #FFFFFF;
    width: 32px;
    height: 32px;
    margin-top: $spacing;
  }

  &.linkedin svg {
    background: #0077B5;
  }

  &.twitter svg {
      background: #55ACEE;
  }
}

.date {
  color: $blue;
}

.sub-section {
  margin-bottom: $spacing*5;
  position: relative;
  @include print {
    margin-bottom: $spacing*2;
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: $spacing 0 0;
    padding: 0;
  }

  li {
    margin: $spacing*1.5 0;
  }
}

footer {
  text-align: center;
  color: $gray;
  display: none;
  margin-top: -$spacing*4;

  @include print {
    display: block;
  }
}

.print-hide {
  @include print {
    display: none;
  }
}

.technologies {
  position: relative;
  right: 0;
  top: 0;
  font-size: 14px;
  color: $gray;
  line-height: 28px;

  @include desktop {
    position: absolute;
  }

  @include print {
    position: absolute;
  }
}

.scanlines:after,.scanlines:before {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  border-radius: 20px;
}

.scanlines:before {
  background: linear-gradient(hsla(0,6%,7%,0) 50%,rgba(0,0,0,.25) 0),linear-gradient(90deg,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
  background-size: 100% 2px,3px 100%;
}

@keyframes textShadow-old {
  0% {
      text-shadow: .4389924193300864px 0 1px rgba(0,30,255,.5),-.4389924193300864px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,.5),-2.7928974010788217px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  10% {
      text-shadow: .02956275843481219px 0 1px rgba(0,30,255,.5),-.02956275843481219px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  15% {
      text-shadow: .40218538552878136px 0 1px rgba(0,30,255,.5),-.40218538552878136px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,.5),-3.4794037899852017px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,.5),-1.6125630401149584px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  30% {
      text-shadow: .7015590085143956px 0 1px rgba(0,30,255,.5),-.7015590085143956px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,.5),-3.896914047650351px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,.5),-3.870905614848819px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,.5),-2.231056963361899px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  50% {
      text-shadow: .08084290417898504px 0 1px rgba(0,30,255,.5),-.08084290417898504px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,.5),-2.3758461067427543px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,.5),-2.202193051050636px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,.5),-2.8638780614874975px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  70% {
      text-shadow: .48874025155497314px 0 1px rgba(0,30,255,.5),-.48874025155497314px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,.5),-1.8948491305757957px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  80% {
      text-shadow: .0833037308038857px 0 1px rgba(0,30,255,.5),-.0833037308038857px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  85% {
      text-shadow: .09769827255241735px 0 1px rgba(0,30,255,.5),-.09769827255241735px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,.5),-3.443339761481782px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,.5),-2.1841838852799786px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  to {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,.5),-2.6208764473832513px 0 1px rgba(255,0,80,.3),0 0 3px
  }
}


@keyframes textShadow {
  0% {
      text-shadow: .4389924193300864px 0 1px rgba(0,30,255,.5),-.4389924193300864px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  5% {
      text-shadow: 0.7928974010788217px 0 1px rgba(0,30,255,.5),-0.7928974010788217px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  10% {
      text-shadow: .02956275843481219px 0 1px rgba(0,30,255,.5),-.02956275843481219px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  15% {
      text-shadow: .40218538552878136px 0 1px rgba(0,30,255,.5),-.40218538552878136px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  20% {
      text-shadow: 0.4794037899852017px 0 1px rgba(0,30,255,.5),-0.4794037899852017px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  25% {
      text-shadow: 0.0125630401149584px 0 1px rgba(0,30,255,.5),-0.6125630401149584px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  30% {
      text-shadow: .7015590085143956px 0 1px rgba(0,30,255,.5),-.7015590085143956px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  35% {
      text-shadow: 0.896914047650351px 0 1px rgba(0,30,255,.5),-0.896914047650351px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  40% {
      text-shadow: 0.870905614848819px 0 1px rgba(0,30,255,.5),-0.870905614848819px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  45% {
      text-shadow: 0.231056963361899px 0 1px rgba(0,30,255,.5),-0.231056963361899px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  50% {
      text-shadow: .08084290417898504px 0 1px rgba(0,30,255,.5),-.08084290417898504px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  55% {
      text-shadow: 0.3758461067427543px 0 1px rgba(0,30,255,.5),-0.3758461067427543px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  60% {
      text-shadow: 0.202193051050636px 0 1px rgba(0,30,255,.5),-0.202193051050636px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  65% {
      text-shadow: 0.8638780614874975px 0 1px rgba(0,30,255,.5),-0.8638780614874975px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  70% {
      text-shadow: .48874025155497314px 0 1px rgba(0,30,255,.5),-.48874025155497314px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  75% {
      text-shadow: 0.8948491305757957px 0 1px rgba(0,30,255,.5),-0.8948491305757957px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  80% {
      text-shadow: .0833037308038857px 0 1px rgba(0,30,255,.5),-.0833037308038857px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  85% {
      text-shadow: .09769827255241735px 0 1px rgba(0,30,255,.5),-.09769827255241735px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  90% {
      text-shadow: 0.443339761481782px 0 1px rgba(0,30,255,.5),-0.443339761481782px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  95% {
      text-shadow: 1.1841838852799786px 0 1px rgba(0,30,255,.5),-1.1841838852799786px 0 1px rgba(255,0,80,.3),0 0 3px
  }

  to {
      text-shadow: 1.6208764473832513px 0 1px rgba(0,30,255,.5),-1.6208764473832513px 0 1px rgba(255,0,80,.3),0 0 3px
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#terminalWrapper {
  animation: textShadow 1.6s infinite;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  font-family: monospace;
  height: 95vh;
  width: 95vw;
  border-radius: 20px;
  padding: 10px;
  margin: 16px auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.34);
  display:block;
  position: relative;
}

.cursor {
  color: black;
  animation: blink 1s steps(2,jump-none) infinite;
  font-size: 34px;
  margin-left: -3px;
}

